/*desktop display one row 12 coloumn position*/
.col-1{width: 8.33%;}
.col-2{width:16.66%}
.col-3{width:25%;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width: 58.33%;}
.col-8{width:66.66%}
.col-9{width:75%;}
.col-10{width: 83.33%;}
.col-11{width:91.66%}
.col-12{width:100%;}
 /* navbar part start here */
.img{
    text-align: left;
}
.title{
    text-align: left;
    
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 20px;
}
/* navbar part end here */
/* profile style starts parts here */
.profile .image-top{
    position: relative;
    margin-left: 992px;
    padding:10px;
    padding-right:0;
}
.profile .image-bottom{
    position: relative;
    margin-right: 920px;
}
h2{
 text-transform: uppercase;
 
}
.profile-heading .para1{
    text-align: justify;
    padding: 15px;
    
    
}
.list li{
    list-style: none;
    margin: 20px;
    text-align: left;
}
.footer-main .footer1 a{
    display: inline;
    margin: 20px;
}
.footer2 span{
    margin-left: 300px;
}
.linkpart{
    margin-top: 150px;
}


